/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #7e8890;
  text-decoration: none; }

body {
  color: #7e8890;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

button {
  font-size: 13px;
  text-transform: uppercase; }

button, input {
  font-weight: 300;
  padding: 10px 15px; }

h1 {
  color: #4A4A4A;
  font-size: 2em;
  line-height: 1.35em; }

input {
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  color: #4A4A4A;
  font-size: 16px;
  margin-bottom: 0.75em; }

nav {
  background: white;
  font-weight: 400; }

.l-inside {
  padding-left: 4em;
  padding-right: 4em; }

.button-bordered {
  background-color: white;
  border: solid 1px #0069D8;
  color: #0069D8; }
  .button-bordered:hover {
    color: white !important;
    background-color: #0069D8; }

.button {
  border-radius: 3px;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out; }

.button.button-solid {
  background-color: #0069D8;
  border: none;
  color: white; }
  .button.button-solid:hover {
    background-color: #005EC1; }

#main-nav {
  border-bottom: 1px solid #E4E4E4;
  height: 75px;
  padding: 0;
  position: fixed;
  width: 100%; }
  #main-nav ul {
    text-align: right; }
    #main-nav ul li {
      display: inline-block;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px; }
      #main-nav ul li.logo-container {
        float: left;
        height: 45px;
        width: 45px;
        padding-top: 15px; }
        #main-nav ul li.logo-container .logo {
          background-image: url("../images/logo.png");
          background-size: contain;
          display: block;
          height: 100%; }
      #main-nav ul li a {
        font-size: 13px;
        line-height: 75px;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out; }
        #main-nav ul li a:hover {
          color: #0069d8; }

#hero {
  padding-top: 150px;
  padding-bottom: 75px;
  margin-bottom: 2.5em;
  text-align: center; }
  #hero h1 {
    margin: 0 auto 1em auto;
    width: 60%; }
  #hero p {
    line-height: 1.9em;
    margin: 0 auto 2em auto;
    width: 45%; }
  #hero input {
    margin-right: 1em;
    width: 20%; }
