@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  background: white;
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none; }

.l-inside {
  padding-left: 4em;
  padding-right: 4em; }

#main-nav {
  height: 45px; }
  #main-nav ul {
    text-align: right; }
    #main-nav ul li {
      display: inline-block;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px; }
      #main-nav ul li.logo-container {
        float: left;
        height: 45px;
        width: 45px; }
        #main-nav ul li.logo-container .logo {
          background-image: url("../images/logo.png");
          background-size: contain;
          display: block;
          height: 100%; }
      #main-nav ul li a {
        color: black;
        font-size: 13px;
        line-height: 45px;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out; }
        #main-nav ul li a:hover {
          color: #0069d8; }
        #main-nav ul li a.button {
          border: solid 1px #0069d8;
          border-radius: 3px;
          color: #0069d8;
          padding: 10px 20px; }
          #main-nav ul li a.button:hover {
            color: white;
            background-color: #0069d8; }
