@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

$blackish: #4A4A4A;
$blue: #0069D8;
$grayish: #7e8890;

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: $grayish;
  text-decoration: none;
}

body {
  color: $grayish;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

button {
  font-size: 13px;
  text-transform: uppercase;
}

button, input {
  font-weight: 300;
  padding: 10px 15px;
}

h1 {
  color: $blackish;
  font-size: 2em;
  line-height: 1.35em;
}

input {
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  color: $blackish;
  font-size: 16px;
  margin-bottom: 0.75em;
}

nav {
  background: white;
  font-weight: 400;
}
