@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

$blackish: #4A4A4A;
$blue: #0069D8;
$grayish: #7e8890;
$orange: #E6461A;

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: $grayish;
  text-decoration: none;
}

body {
  color: $grayish;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

footer {
  font-size: 13px;
  text-align: center;
  padding-top: 4em;
  padding-bottom: 2em;
}

h1, h2, h3 {
  color: $blackish;
  line-height: 1.35em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

nav {
  background: white;
  font-weight: 400;
}

strong {
  font-weight: bold;
}
