$down-arrow-width: 30px;
$main-nav-height: 75px;
$top-padding: $main-nav-height * 1.5;
$hover-transition: all 0.2s ease-in-out;

@mixin vertical-align() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.l-inside {
  padding-left: 1.5em;
  padding-right: 1.5em;
  @include media-breakpoint-up(sm) {
    padding-left: 2em;
    padding-right: 2em;
  }
  @include media-breakpoint-up(md) {
    padding-left: 4em;
    padding-right: 4em;
  }
}

.button {
  border-radius: 3px;
  font-size: 13px;
  padding: 10px 20px;
  text-transform: uppercase;

  &:hover {
    transition: $hover-transition;
  }
}

.button-bordered {
  background-color: white;
  border: solid 1px $blue;
  color: $blue;

  &:hover {
    color: white !important;
    background-color: $blue;
  }
}

.button.button-solid {
  background-color: $blue;
  border: none;
  color: white;

  &:hover {
    background-color: #005EC1;
  }
}

.down-arrow {
  display: block;
  background-image: url('../images/down.png');
  background-size: contain;
  width: $down-arrow-width;
  height: $down-arrow-width * 146 / 269;
}

.row {
  @include row();
}

#main-nav {
  $height:45px;

  border-bottom: 1px solid #E4E4E4;
  height: $main-nav-height;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1;

  .menu {
    text-align: right;

    .logo-container {
      float: left;
      padding-top: ($main-nav-height - $height) / 2;

      .logo {
        background-image: url('../images/logo.png');
        background-size: contain;
        display: block;
        height: $height;
        width: $height;
      }
    }

    &.mobile-menu-active {
      li {
        background-color: white;
        display: block;
      }
    }

    ul {
      li {
        @include media-breakpoint-down(md) {
          display: none;
        }
        display: inline-block;
        font-size: 13px;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
        text-transform: uppercase;

        a {
          line-height: $main-nav-height;

          &:hover {
            color: #0069d8;
            transition: $hover-transition;
          }
        }
      }
    }

    .mobile-menu-toggle {
      line-height: $main-nav-height;
      text-align: right;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
}

#hero {
  @include media-breakpoint-down(sm) {
    padding-top: $top-padding;
  }
  margin-bottom: 2.5em;
  text-align: center;

  @include media-breakpoint-up(sm) {
    height: 100vh;
    .content {
      @include vertical-align();
    }
  }

  h1 {
    margin: 0 auto 1em auto;
    @include media-breakpoint-up(sm) {
      width: 60%;
    }
  }

  p {
    line-height: 1.9em;
    margin: 0 auto 2em auto;
    @include media-breakpoint-up(sm) {
      width: 45%;
    }
  }

  form {
    input {
      @include media-breakpoint-up(sm) {
        margin-right: 1em;
        width: 20%;
      }
    }

    .button {
      height: 44px;
    }
  }

  .down-arrow {
    @include media-breakpoint-down(sm) {
      display: none
    }
    cursor: pointer;
    position: absolute;
    bottom: 8%;
    left: 50%;
    margin-left: -$down-arrow-width / 2;
  }
}

#team {
  text-align: center;
  padding-top: $top-padding;

  @include media-breakpoint-up(sm) {
    height: 100vh;
    .content {
      @include vertical-align();
    }
  }

  h2 {
    margin-bottom: 2em;
  }

  ul {
    width: 100%;
  }

  li {
    @include column(100%);
    @include media-breakpoint-up(sm) {
      @include column(50%);
    }
    @include media-breakpoint-up(md) {
      @include column(25%)
    }

    .profile-card {
      margin-bottom: 2.5em;

      img {
        border-radius: 50px;
        margin-bottom: 1em;
        height: 100px;
        width: 100px;
      }

      .name {
        margin-bottom: .6em;
      }

      .location {
        font-size: .8em;
        margin-bottom: .8em
      }

      .username {
        font-size: .8em;
      }
    }
  }
}

#coc {
  padding-top: $top-padding;
  margin: auto;
  max-width: 800px;

  h2 {
    text-align: center;
  }

  h2, h3 {
    margin-bottom: 1em;
  }

  ul {
    list-style: circle;
  }

  p, li {
    line-height: 1.5em;
    margin-bottom: 1em;
  }

  a {
    color: #0069D8;
    text-decoration: underline;
  }
}
