$main-nav-height: 75px;
$hover-transition: all 0.2s ease-in-out;

.l-inside {
  padding-left: 4em;
  padding-right: 4em;
}

.button {
  border-radius: 3px;
  font-size: 13px;
  padding: 10px 20px;
  text-transform: uppercase;

  &:hover {
    transition: $hover-transition;
  }
}

.button-bordered {
  background-color: white;
  border: solid 1px $blue;
  color: $blue;

  &:hover {
    color: white !important;
    background-color: $blue;
  }
}

.button.button-solid {
  background-color: $blue;
  border: none;
  color: white;

  &:hover {
    background-color: #005EC1;
  }
}

#main-nav {
  $height:45px;

  border-bottom: 1px solid #E4E4E4;
  height: $main-nav-height;
  padding: 0;
  position: fixed;
  width: 100%;

  ul {
    text-align: right;

    li {
      display: inline-block;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;

      &.logo-container {
        float: left;
        padding-top: ($main-nav-height - $height) / 2;

        .logo {
          background-image: url('../images/logo.png');
          background-size: contain;
          display: block;
          height: $height;
          width: $height;
        }
      }

      a {
        font-size: 13px;
        line-height: $main-nav-height;
        text-transform: uppercase;

        &:hover {
          color: #0069d8;
          transition: $hover-transition;
        }
      }
    }
  }
}

#hero {
  padding-top: $main-nav-height * 2;
  padding-bottom: $main-nav-height;
  margin-bottom: 2.5em;
  text-align: center;

  h1 {
    margin: 0 auto 1em auto;
    width: 60%;
  }

  p {
    line-height: 1.9em;
    margin: 0 auto 2em auto;
    width: 45%;
  }

  input {
    margin-right: 1em;
    width: 20%;
  }

  .button {
    height: 40px;
  }
}
