.l-inside {
  padding-left: 4em;
  padding-right: 4em;
}

#main-nav {
  $main-nav-height: 45px;

  height: $main-nav-height;
  margin-top: $main-nav-height / 2;

  ul {
    text-align: right;

    li {
      display: inline-block;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;

      &.logo-container {
        float: left;
        height: $main-nav-height;
        width: $main-nav-height;

        .logo {
          background-image: url('../images/logo.png');
          background-size: contain;
          display: block;
          height: 100%;
        }
      }

      a {
        color: black;
        font-size: 13px;
        line-height: $main-nav-height;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #0069d8;
        }

        &.button {
          border: solid 1px #0069d8;
          border-radius: 3px;
          color: #0069d8;
          padding: 10px 20px;

          &:hover {
            color: white;
            background-color: #0069d8;
          }
        }
      }
    }
  }
}
