$main-nav-height: 75px;

.l-inside {
  padding-left: 4em;
  padding-right: 4em;
}

#main-nav {
  $height:45px;

  border-bottom: 1px solid #E4E4E4;
  height: $main-nav-height;
  padding: 0;
  position: fixed;
  width: 100%;

  ul {
    text-align: right;

    li {
      display: inline-block;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;

      &.logo-container {
        float: left;
        height: $height;
        width: $height;
        padding-top: ($main-nav-height - $height) / 2;

        .logo {
          background-image: url('../images/logo.png');
          background-size: contain;
          display: block;
          height: 100%;
        }
      }

      a {
        font-size: 13px;
        line-height: $main-nav-height;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #0069d8;
        }

        &.button {
          border: solid 1px #0069d8;
          border-radius: 3px;
          color: #0069d8;
          padding: 10px 20px;

          &:hover {
            color: white;
            background-color: #0069d8;
          }
        }
      }
    }
  }
}

#hero {
  padding-top: $main-nav-height * 2;
  text-align: center;

  h1 {
    margin: 0 auto 1em auto;
    width: 60%;
  }
}
