<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>iOS Developers - A Slack community for iOS developers.</title>
        <meta name="description" content="A Slack community for iOS developers with 2,500+ members and counting.">
        <link href="stylesheets/application.css" rel="stylesheet">
        <script src="javascripts/analytics.js"></script>
    </head>
    <body>
        <div id="header">
            <div class="container">
                <div class="columns-two">
                    <div class="column-l">
                        <a class="logo no-hover" href="/"><img src="images/ios-developers-logo.svg"><span>iOS Developers</span></a>
                    </div>
                    <div class="column-r">
                        <ul>
                            <li><a href="team">The Team</a></li>
                            <li><a href="mailto:iosdevelopershq@gmail.com?subject=Just saying hi!">Get in touch</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div id="hero">
            <div class="container">
                <h1>Learn</h1>
            </div>
        </div>
        <div id="learn">
            <div class="section single-p">
                <div class="container">
                    <p>At iOS Developers, we're focused on helping every single member that joins us regardless of experience (or inexperience). A handful of our members have asked us where the best place to start their programming journey is and with a few of us having tried and tested many of the resources out there, we've curated this roadmap so that you can go from knowing <strong>absolutely nothing</strong> about programming, to being <strong>employable</strong> as an iOS Developer. This is the curated list we wish we'd had from the beginning.</p>
                </div>
            </div>
            <div class="section alt learn-beginner">
                <div class="container">
                    <h5>Beginner</h5>
                    <h2>A brief introduction to C</h2>
                    <p>by <a href="https://teamtreehouse.com">Treehouse</a></p>
                    <h3>Why?</h3>
                    <p>Learning C will teach you fundamental concepts within programming. It will help you think like a programmer. A well-rounded knowledge in C will give you the foundations you need to program in most programming languages.</p>
                    <h3>Important concepts to learn</h3>
                    <ul>
                        <li>Reference Counting</li>
                        <li>Pointers</li>
                        <li>Type Declarations</li>
                        <li>Arguments</li>
                        <li>Return Types &amp; Meanings</li>
                        <li class="bottom">Methods</li>
                    </ul>
                    <a class="button" href="http://teamtreehouse.com/library/objectivec-basics">Get started</a>
                </div>
            </div>
            <div class="section learn-intermediate">
                <div class="container">
                    <h5>Intermediate</h5>
                    <h2>Swift Basics</h2>
                    <p>by <a href="https://teamtreehouse.com">Treehouse</a></p>
                    <h3>Why?</h3>
                    <p>Apple recommends that any new apps we build should be written in Swift moving forward. It builds upon all of the best bits of many other programming languages and gives us a modern and more robust language to program with.</p>
                    <p>With your newfound foundation in C, you will understand many of the key concepts of Swift. This will allow you to focus your attention more on best practices when programming in Swift as well as learning its syntax.</p>
                    <h3>Important concepts to learn</h3>
                    <ul>
                        <li>Understanding Object Orientation</li>
                        <li>Practice writing Swift applications</li>
                        <li>Understanding APIs and how to use them</li>
                        <li>Understanding Inference</li>
                        <li>Understanding MVC</li>
                        <li class="bottom">Understanding the new Optionals type.</li>
                    </ul>
                    <a class="button" href="http://teamtreehouse.com/library/swift-basics">Get started</a>
                </div>
            </div>
            <div class="section alt learn-advanced">
                <div class="container">
                    <h5>Advanced</h5>
                    <h2>Developing iOS 8 Apps with Swift</h2>
                    <p>by <a href="https://www.stanford.edu">Stanford</a></p>
                    <h3>Why?</h3>
                    <p>Stanford University is one of the leading education institutions on the planet for teaching iOS development. <em>Developing iOS 8 Apps with Swift</em> was recorded and shared for free as part of iTunes U.</p>
                    <p>Given the nature of this course, it's recommended you have prior programming knowledge, which by now, you should have at least working knowledge of C and Swift, which is ample enough foundation to guide you through this course.</p>
                    <h3>Important concepts to learn</h3>
                    <ul>
                        <li>Concept #1</li>
                        <li class="bottom">Concept #2</li>
                    </ul>
                    <a class="button" href="https://itunes.apple.com/us/course/developing-ios-8-apps-swift/id961180099">Get started</a>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <p>Copyright &copy; 2015 iOS Developers. All rights reserved.</p>
            </div>
        </div>
    </body>
</html>
