/* Global Reset
-------------------------------------------------- */
/* {
    margin: 0;
    padding: 0;
}*/

/* Global Reset
-------------------------------------------------- */
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote,
big, body, canvas, caption, center, cite, code, dd, del, details,
dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer,
form, h1, h2, h3, h4, h5, h6,header, hgroup,  html,
i, iframe, img, ins, kbd, label, legend, li, mark, menu,
nav, object, ol, output, p, pre, span, q, ruby, s,
samp, section, small, strike, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, tt, var, u, ul,
video {
    border: 0;
    border-box: box-sizing;
    font: inherit;
    font-size: 100%;
    line-height: 150%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML Attributes
-------------------------------------------------- */
a {
    color: #0069d8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #fff;
    color: #999;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: 32px;
    font-weight: 100;
}

h2 {
    font-size: 24px;
    margin: 0 0 32px 0;
}

h2,
h3,
h4,
h6 {
    color: #555;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    margin: 32px 0;
}

h5 {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

input {
    border-radius: 0;
    -webkit-appearance: none;
}

p {
    line-height: 150%;
    margin: 0 0 16px 0;
}

p.lead {
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
}

ul {
    margin: 0 0 32px 18px;
}

ul li {
    margin-bottom: 8px;
}

/* Header
-------------------------------------------------- */
#header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    line-height: 44px;
}

#header img {
    display: block;
    float: left;
    height: 22px;
    margin: 11px 16px 11px 0;
    width: 22px;
}

#header ul {
    float: right;
    list-style: none;
    margin: 0;
}

#header ul li {
    display: inline-block;
    margin: 0 0 0 16px;
}

#header a {
    display: block;
    line-height: 44px;
}

#header a:hover {
    color: rgba(0, 105, 216, 0.5);
    text-decoration: none;
}

#header a.no-hover {
    color: #0069d8;
}

/* Hero
-------------------------------------------------- */
#hero {
    background-color: #0069d8;
}

#hero h1 {
    color: rgba(255, 255, 255, 1);
    padding: 64px 0;
}

/* The Team
-------------------------------------------------- */
#the-team {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 64px 0;
    text-align: center;
}

#the-team h3 {
    margin: 32px 0 0 0;
}

#the-team .row-that-isnt-bottom {
    padding-bottom: 32px;
}

/* Invite Request Form
-------------------------------------------------- */
#invite-request-form {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 64px 0;
}

.invite-request-form {
    padding: 32px 0 0 0;
}

#invite-request-form .input-field,
#invite-request-form .btn {
    box-sizing: border-box;
    font-size: 16px;
}

#invite-request-form .input-field {
    border: 2px solid #0069d8;
    border-radius: 8px;
    box-sizing: border-box;
    color: #0069d8;
    font-size: 16px;
    margin: 0 16px 0 0;
    outline: none;
    padding: 16px;
    width: 300px;
}

#invite-request-form .btn {
    background-color: #0069d8;
    border: 2px solid #0069d8;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
}

#invite-request-form .btn:hover {
    background-color: #005ec1;
    border: 2px solid #005ec1;
}

/* Endorsed By
-------------------------------------------------- */
#endorsed-by {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 64px 0;
}

#endorsed-by img {
    width: 100%;
}

#endorsed-by p {
    font-size: 12px;
    margin: 32px 0 0 0;
}

/* Footer
-------------------------------------------------- */
#footer {
    font-size: 12px;
    padding: 64px 0;
    text-align: center;
}

#footer p {
    margin-bottom: 0;
}

/* Content
-------------------------------------------------- */
.container {
    margin: 0 auto;
    padding: 0 16px;
    width: 928px;
}

.columns-one .column-l {
    float: none;
}

.columns-two .column-l {
    margin-right: 10%;
}

.columns-two .column-l,
.columns-two .column-r {
    width: 45%;
}

.column-l,
.column-m,
.column-r {
    width: 30%;
}

.column-l,
.column-m {
    float: left;
}

.column-m {
    margin: 0 5%;
}

.column-r {
    float: right;
}

/* Misc.
-------------------------------------------------- */
.button {
    background-color: #0069d8;
    border-radius: 8px;
    color: #fff;
    display: block;
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 25%;
}

.button:hover {
    background-color: #005ec1;
    text-decoration: none;
}

.clear {
    clear: both;
}

.founder {
    margin: 0 auto;
    position: relative;
    width: 128px;
}

.founder .tag {
    background-color: #0069d8;
    border: 1px solid #005ec1;
    border-radius: 12px;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    margin: -48px 32px 0 32px;
    position: absolute;
    width: 64px;
}

.margin-bottom-32 {
    margin-bottom: 32px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.profile-picture {
    border-radius: 50%;
    display: block;
    margin: 0 auto 32px auto;
    width: 128px;
}

/* Sections
-------------------------------------------------- */
.section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 64px 0;
}

.single-p p {
    margin: 0;
}

.section.alt {
    background: rgba(0, 0, 0, 0.025);
}

/* Learn
-------------------------------------------------- */

#learn .learn-beginner .container {
    border-left: 5px solid #72d800;
}

#learn .learn-beginner .container h5 {
    color: #72d800;
    margin-bottom: 16px;
}

#learn .container ul li.bottom {
    margin-bottom: 0;
}

#learn .learn-intermediate .container {
    border-left: 5px solid #d8a200;
}

#learn .learn-intermediate .container h5 {
    color: #d8a200;
    margin-bottom: 16px;
}

#learn .learn-advanced .container {
    border-left: 5px solid #d80000;
}

#learn .learn-advanced .container h5 {
    color: #d80000;
    margin-bottom: 16px;
}

/* iPhone 2G -> iPhone 6 (Display Zoom)
-------------------------------------------------- */
@media (min-width: 320px) and (max-width: 568px) {
    /* HTML Attributes
    -------------------------------------------------- */
    h1 {
        font-size: 16px;
        font-weight: 400;
    }

    /* Header
    -------------------------------------------------- */
    #header {
        font-size: 12px;
        text-align: center;
    }

    #header a {
        line-height: 44px;
    }

    #header a.logo {
        padding: 11px 0;
    }

    #header img {
        margin: 0;
    }

    #header span {
        display: none;
    }

    #header ul {
        float: none;
    }

    #header ul li {
        float: left;
        margin-left: 0;
        width: 50%;
    }

    /* Hero
    -------------------------------------------------- */
    #hero h1 {
        padding: 32px 0;
        text-align: left;
    }

    /* Invite Request Form
    -------------------------------------------------- */
    #invite-request-form {
        padding: 32px 0;
        text-align: left;
    }

    #invite-request-form .invite-request-form {
        padding: 16px 0 0 0;
    }

    #invite-request-form .input-field,
    #invite-request-form .button {
        height: 44px;
        padding: 0 8px;
    }

    #invite-request-form .input-field {
        margin: 0;
        width: 100%;
    }

    #invite-request-form .button {
        background-color: #0069d8;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        margin: 16px 0 0 0;
        width: 47.5%;
    }
    
    /* Container
    -------------------------------------------------- */
    .container {
        width: 90%;
    }

    .columns-two .column-l,
    .columns-two .column-r {
        margin: 0;
        width: 50%;
    }

    .column-l,
    .column-m,
    .column-r {
        margin-bottom: 32px;
        width: 100%;
    }

    .column-m {
        margin: 0;
    }

    /* The Team
    -------------------------------------------------- */
    #the-team {
        padding: 32px 0 0 0;
    }

    #the-team p {
        margin: 0 0 32px 0;
    }

    #the-team .column-l,
    #the-team .column-m,
    #the-team .column-r {
        margin: 0;
    }

    #the-team .row-that-isnt-bottom {
        padding-bottom: 0;
    }

    #the-team .columns-two .column-l,
    #the-team .columns-two .column-r,
    #the-team .columns-two .column-l p,
    #the-team .columns-two .column-r p {
        margin: 0;
    }

    #the-team .columns-two .column-l,
    #the-team .columns-two .column-r {
        margin-bottom: 32px;
        width: 100%;
    }

    /* Footer
    -------------------------------------------------- */
    #footer {
        text-align: left;
    }

    #footer p {
        margin-bottom: 32px;
    }
}

/* iPhone 6 and Desktop
-------------------------------------------------- */
@media (min-width: 568px) and (max-width: 927px) {
    .container {
        width: 90%;
    }