/* Global Reset
-------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
}

/* HTML Attributes
-------------------------------------------------- */
a {
    color: rgba(0, 105, 216, 1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.375);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: 32px;
    font-weight: 100;
}

h2 {
    font-size: 24px;
}

h2,
h3,
h4,
h5,
h6 {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
}

h3 {
    font-size: 16px;
}

input {
    border-radius: 0;
    -webkit-appearance: none;
}

p {
    line-height: 150%;
    margin: 0 0 16px 0;
}

p.lead {
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
}

/* Header
-------------------------------------------------- */
#header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    line-height: 44px;
}

#header img {
    display: block;
    float: left;
    height: 22px;
    margin: 11px 16px 11px 0;
    width: 22px;
}

#header ul {
    float: right;
    list-style: none;
}

#header ul li {
    display: inline-block;
    margin-left: 16px;
}

#header a {
    display: block;
}

#header a:hover {
    color: rgba(0, 105, 216, 0.5);
    text-decoration: none;
}

#header a.no-hover {
    color: rgba(0, 105, 216, 1);
}

/* Hero
-------------------------------------------------- */
#hero {
    background-color: rgba(0, 105, 216, 1);
}

#hero h1 {
    color: rgba(255, 255, 255, 1);
    padding: 64px 0;
    text-align: center;
}

/* The Team
-------------------------------------------------- */
#the-team {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 64px;
    padding-top: 64px;
    text-align: center;
}

#the-team h2 {
    margin-bottom: 64px;
    margin-top: 64px;
}

#the-team .row-that-isnt-bottom {
    padding-bottom: 32px;
}

/* Invite Request Form
-------------------------------------------------- */
#invite-request-form {
    padding: 64px 0;
    text-align: center;
}

.invite-request-form {
    padding: 32px 0 0 0;
}

#invite-request-form .input-field,
#invite-request-form .button {
    box-sizing: border-box;
    font-size: 16px;
}

#invite-request-form .input-field {
    border: 2px solid #0069D8;
    border-radius: 8px;
    box-sizing: border-box;
    color: #0069D8;
    font-size: 16px;
    margin: 0 16px 0 0;
    outline: none;
    padding: 16px;
    width: 300px;
}

#invite-request-form .button {
    background-color: #0069D8;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
}

#invite-request-form .button:hover {
    border-color: rgba(0, 0, 0, 0.25);
}

/* Footer
-------------------------------------------------- */
#footer {
    font-size: 12px;
    text-align: center;
}

#footer p {
    margin-bottom: 64px;
}

/* Content
-------------------------------------------------- */
.container {
    margin: 0 auto;
    padding: 0 16px;
    width: 928px;
}

.columns-two .column-l {
    margin-right: 10%;
}

.columns-two .column-l,
.columns-two .column-r {
    width: 45%;
}

.column-l,
.column-m,
.column-r {
    width: 30%;
}

.column-l,
.column-m {
    float: left;
}

.column-m {
    margin: 0 5%;
}

.column-r {
    float: right;
}

/* Misc.
-------------------------------------------------- */
.clear {
    clear: both;
}

.profile-picture {
    border-radius: 50%;
    display: block;
    margin: 0 auto 32px auto;
    width: 128px;
}

.founder {
    margin: 0 auto;
    position: relative;
    width: 128px;
}

.founder .tag {
    background-color: #0069D8;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    margin: -48px 32px 0 32px;
    position: absolute;
    width: 64px;
}

/* iPhone 2G -> iPhone 6 (Display Zoom)
-------------------------------------------------- */
@media (min-width: 320px) and (max-width: 568px) {
    /* HTML Attributes
    -------------------------------------------------- */
    h1 {
        font-size: 16px;
        font-weight: 400;
    }

    /* Header
    -------------------------------------------------- */
    #header {
        font-size: 12px;
        text-align: center;
    }

    #header a {
        line-height: 44px;
    }

    #header a.logo {
        padding: 11px 0;
    }

    #header img {
        margin: 0;
    }

    #header span {
        display: none;
    }

    #header ul {
        float: none;
    }

    #header ul li {
        float: left;
        margin-left: 0;
        width: 50%;
    }

    /* Hero
    -------------------------------------------------- */
    #hero h1 {
        padding: 32px 0;
        text-align: left;
    }

    /* Invite Request Form
    -------------------------------------------------- */
    #invite-request-form {
        padding: 32px 0;
        text-align: left;
    }

    #invite-request-form .invite-request-form {
        padding: 16px 0 0 0;
    }

    #invite-request-form .input-field,
    #invite-request-form .button {
        height: 44px;
        padding: 0 8px;
    }

    #invite-request-form .input-field {
        margin: 0;
        width: 100%;
    }

    #invite-request-form .button {
        background-color: #0069D8;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 16px;
        margin: 16px 0 0 0;
        width: 47.5%;
    }
    
    /* Container
    -------------------------------------------------- */
    .container {
        width: 90%;
    }

    .columns-two .column-l,
    .columns-two .column-r {
        margin: 0;
        width: 50%;
    }

    .column-l,
    .column-m,
    .column-r {
        margin-bottom: 32px;
        width: 100%;
    }

    .column-m {
        margin: 0;
    }

    /* The Team
    -------------------------------------------------- */
    #the-team {
        padding: 32px 0 0 0;
    }

    #the-team p {
        margin: 0 0 32px 0;
    }

    #the-team .column-l,
    #the-team .column-m,
    #the-team .column-r {
        margin: 0;
    }

    #the-team .row-that-isnt-bottom {
        padding-bottom: 0;
    }

    #the-team .columns-two .column-l,
    #the-team .columns-two .column-r,
    #the-team .columns-two .column-l p,
    #the-team .columns-two .column-r p {
        margin: 0;
    }

    #the-team .columns-two .column-l,
    #the-team .columns-two .column-r {
        margin-bottom: 32px;
        width: 100%;
    }

    /* Footer
    -------------------------------------------------- */
    #footer {
        text-align: left;
    }

    #footer p {
        margin-bottom: 32px;
    }
}

/* iPhone 6 and Desktop
-------------------------------------------------- */
@media (min-width: 568px) and (max-width: 927px) {
    .container {
        width: 90%;
    }