<nav id="main-nav" class="l-inside">
  <ul>
    <li class="logo-container"><a class="logo" href=""></a></li>
    <li><a href="">Team</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Contact</a></li>
    <li><a class="button" href="">Sign Up Free</a></li>
  </ul>
</nav>
