<nav id="main-nav">
  <div class="l-inside">
    <div class="menu">
      <span class="logo-container"><a class="logo" href="/"></a></span>
      <span class="button button-bordered mobile-menu-toggle">Menu</span>
      <ul>
        <li><a href="/#team">Team</a></li>
        <li><a href="/coc">Code of Conduct</a></li>
        <li><a href="mailto:hello@ios-developers.io">Contact</a></li>
        <li><a class="button button-bordered button-secondary" href="https://www.patreon.com/user?u=4985504" target="_blank">Donate</a></li>
        <li><a class="button button-bordered" href="/">Sign Up Free</a></li>
      </ul>
    </div>
  </div>
</nav>
