<nav id="main-nav">
  <div class="l-inside">
    <ul>
      <li class="logo-container"><a class="logo" href="/"></a></li>
      <li><a href="/#team">Team</a></li>
      <li><a href="https://blog.ios-developers.io">Blog</a></li>
      <li><a href="/coc">Code of Conduct</a></li>
      <li><a href="mailto:iosdevelopershq@gmail.com">Contact</a></li>
      <li><a class="button button-bordered" href="/">Sign Up Free</a></li>
    </ul>
  </div>
</nav>
